__pycache__/
*.py[cod]
*$py.class


venv/
.venv/
env/
ENV/


.ipynb_checkpoints/

# Jupyter runtime
.profile_default/
ipython_config.py

.env
.env.local
.env.production
.env*

.vscode/
.idea/

.DS_Store
Thumbs.db

logs/
*.log

tmp/
temp/
.cache/


data/NhaTran/raw/
data/NhaTran/extracted/
data/NhaTran/segmented/

# data/final/

# Keep folder structure
!data/NhaTran/raw/.gitkeep
!data/NhaTran/extracted/.gitkeep
!data/NhaTran/chunks/.gitkeep
!data/NhaTran/segmented/.gitkeep
!data/NhaTran/embedded/.gitkeep
!data/NhaTran/final/.gitkeep

models/
*.bin
*.pt
*.pth
*.onnx
*.safetensors

# HuggingFace cache
.huggingface/
cache/


qdrant_storage/
*.sqlite
*.db

