fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
sentence-transformers
transformers
torch
numpy
scikit-learn
qdrant-client
requests
sentencepiece
tiktoken
protobuf
accelerate

# python -m pip install -r requirements.txt
# pip freeze > requirements.lock.txt